/* Resetear las propiedades CSS */
*{margin: 0; padding: 0; box-sizing: border-box;}
body { min-height: 100vh;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td tr{margin: 0; padding: 0; font-family: "Lucida Grande", Verdana,Arial,sans-serif; }
fieldset, img, abbr {border: 0;}
address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, th, var {font-style: normal; font-weight: normal;}
caption, th {text-align: left;}
q:before, q:after {content: '';}
a{outline:0; color:#0000EE;}
alt{font-size:.0000001em;}
title{font-size:.0000001em;}
.salto{clear: both;}
.derecha{float:right;}
.izquierda{float:left;}
.puntero:hover {cursor:pointer;}
*:focus {outline: none;}
body {background: #25262B;}
table {background: #fff;}

.rojo {
    color: firebrick; 
    font-size:20px;
}

input, text, textarea, select, div
{
    margin: 0;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}

#descripcion, .fecha_input, .hora_input, select
{
    font-size: 1.5em;
}

.content-msModal form label, .content-msModal form fieldset{
    font-size: 14px;
    color: #8C8D91;

}

fieldset{
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #8C8D91;
    font-weight: bold;
}

.fecha_input{
    width: 180px !important;
    text-align: center;
}   

.hora_input{
    width: 80px !important;
    text-align: center;
}   

body 
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #C1C2C5;
}

header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #25262B;
    padding: 5px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#logo
{
    margin-left:20px;
}

#logo img
{
    
    margin:0px 2px;
    cursor:pointer;
}

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#contenido
{
    display: block;
    padding-top: 60px;
    width: 90%;
    margin: auto;
    text-align: center;
}

#contenido h1
{
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}

.btn-plus{display: inline-block; width:22px; height: 22px; background: url(/public/img/btn-plus.svg) no-repeat center center; background-size: 22px 22px; margin:0px 2px;}
.btn-edit{display: inline-block; width:22px; height: 22px; background: url(/public/img/btn-edit.svg) no-repeat center center; background-size: 22px 22px; margin:0px 2px;}
.trash{display: inline-block; width:22px; height: 22px; background: url(/public/img/trash.svg) no-repeat center center; background-size: 22px 22px; margin:0px 2px;}
.btn-toggle-on{display: inline-block; width:22px; height: 22px; background: url(/public/img/btn-toggle-on.svg) no-repeat center center; background-size: 22px 22px; margin:0px 2px;}
.btn-toggle-off{display: inline-block; width:22px; height: 22px; background: url(/public/img/btn-toggle-off.svg) no-repeat center center; background-size: 22px 22px; margin:0px 2px;}
.calendar-cancel{display: inline-block; width:22px; height: 22px; background: url(/public/img/calendar-cancel.svg) no-repeat center center; background-size: 22px 22px; margin:0px 2px;}
.file-upload{display: inline-block; width:24px; height: 30px; background: url(/public/img/file-upload.svg) no-repeat center center; background-size: 24px 30px; margin:0px}

.bordered 
{
    width:100%; 
    margin: auto; 
    border: solid #ccc 1px; 
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
    font-size:12px; 
    color:#000; 
}

.bordered table 
{
    border-collapse: collapse; 
    border-spacing: 0; 
    width:100%; 
    margin-right: auto; 
    margin-left: auto; 
    text-align:center; 
    clear: both;
}

.bordered thead
{
    background: #eee;
}

.bordered thead tr:hover 
{
    background: #eee;
}

.bordered th 
{
    border-left: 1px solid #eee; 
    border-top: 1px solid #eee; 
    padding: 5px; 
    text-align: center; 
    height: 40px;
    font-weight: bold; 
    background-color:#eee; 
    background-image:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc)); 
    background-image:-webkit-linear-gradient(top, #eee, #ccc); 
    background-image:-moz-linear-gradient(top, #eee, #ccc); 
    background-image:-ms-linear-gradient(top, #eee, #ccc); 
    background-image:-o-linear-gradient(top, #eee, #ccc); 
    background-image:linear-gradient(top, #eee, #ccc); 
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset; 
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    border-top: none; 
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered tr:hover 
{
    background: #fbf8e9; 
    -o-transition: all 0.1s ease-in-out; 
    -webkit-transition: all 0.1s ease-in-out; 
    -moz-transition: all 0.1s ease-in-out; 
    -ms-transition: all 0.1s ease-in-out; 
    transition: all 0.1s ease-in-out;
}    

.bordered td
{
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-top: 1px solid #ccc; 
    padding: 0 5px; 
    text-align: center;
    height: 40px;
}

.bordered td:first-child, .bordered th:first-child 
{
    border-left: none; 
}

.abm_thumb {
    text-align: center;

}

.abm_thumb video, .abm_thumb img{
    max-height: 250px;

}
